
 .myportfolio-style{
    background-color: blue;
    text-align: center;
    height: 2rem;
    font-size: x-large;
    padding-top: 1rem;
 }

.nav{
    color: red;
    font-size: 25px;
    display: inline-block;
    margin: 0px 80px 0px 0px;
}
.anas{
    height: 40px;
    width: 150px;
    background-color: antiquewhite;
    font-size: large;
}
.profile{
    height: 250px;
    border: 1px solid black;
    width:250px;
    margin: 20px;
    padding: 20px;
}
button{
    margin-top: 10px;
    height: 30px;
    width: 100px;
    background-color: rgb(230, 242, 242);
    border-radius: 5px;
    margin: 5px;
}
.card{
    display: flex;
    margin: 40px;
}
.second{
    display: flex; 
     margin: 40px;
    }

footer{
   height: 80px;
   background-color: antiquewhite;
   text-align: center;
   font-size: 40px;
   border-radius: 5px;
}

img{
    height: 70px;
    width: 240px;
}