*{
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',;
    font-size: 18px;
}
.gried-container{
           grid-template-areas:'header' 'main' 'menu' 'facts' 'footer' ;
           background-color: rgb(250, 247, 247);
           gap: 10px;
}
.header{

    grid-area: header;
    text-align: center;
   font-size: 2rem;
    background-color: rgb(56, 209, 56);
    height: 60px;
    color:white;
    padding-top: 10px;
    width: auto;
    border-radius:5px 5px 0px 0px;
}

.header{
     background-image: linear-gradient(to  right, #ff0000, rgb(81, 250, 81));
}
.menu {
   grid-area: menu;
   float: left;
}

.menu ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     
}

.menu li{
 background-color: rgb(166, 130, 244);
    color: white;
    padding: 8px;
    margin: 10px;
}

.menu li:hover {
    background-color: white;
    color: black;
}

.content {
    grid-area: main;
  
}
.content > p {
    margin-bottom: 7px;
     
   
} 

.facts{
    border: 2px solid blue;
    background-color: antiquewhite;
    padding-left: 10px;
}

.footer{
    grid-area: footer;
    background-color: #0099cc;
    height: 100px;
    padding: 20px;
    margin-top: 10px;
    border-radius:0px 0px 5px 5px;
}
.footer p:hover{
  
    background-color: #0099cc;
    color: gold;
    width: auto;
}

@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}

@media (min-width: 768px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 2;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}